/*
Theme Name:     National Dinosaur Museum
Theme URI:      http://nationaldinosaurmuseum.com.au/
Description:    A website for the National Dinosaur Museum.
Author:         Anthony Hortin
Author URI:     http://maddisondesigns.com
Template:       divi
Version:        1.0
*/

@import url("../divi/style.css");

.et_pb_text h1,
.et_pb_text h2,
.et_pb_text h3,
.et_pb_text h4,
.et_pb_text h5,
.et_pb_text h6 {
	line-height: 1.2;
}

.et_pb_text h2,
.et_pb_text h3 {
	margin-top: 1em;
}

.et_pb_text h4,
.et_pb_text h5,
.et_pb_text h6 {
	margin-top: .75em;
}

hr {
	margin-bottom: 2em;
}

.et-social-youtube a.icon:before { content: '\e0a3'; }

.et_nav_text_color_light,
.et_nav_text_color_light #et-secondary-nav a,
.et_nav_text_color_light .et-social-icon a,
.et_nav_text_color_light #et-info a {
	color: #fff;
}

.full-width-image {
	height: 250px;
}


.homepage-slider .et_pb_container {
	min-height: 390px !important;
}

.et_pb_column_2_3 .et_pb_slider_fullwidth_off.homepage-slider .et_pb_slide_description {
	padding: 50px 75px 50px 75px;
}

.homepage-slider .et_pb_slide_content h1 {
	font-size: 46px;
	font-weight: 300;
	padding-bottom: 30px;
}

.homepage-slider .et_pb_slide_content h1,
.homepage-slider .et_pb_slide_content h2,
.homepage-slider .et_pb_slide_content p {
	text-shadow: none;
}

.entry-content a.small-button {
	font-size: 20px;
	font-weight: 500 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 20px;
	line-height: 1.7em;
	background: transparent;
	border: 2px solid;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	box-shadow: none;
	text-shadow: none;
}

.entry-content a.small-button.smallwhite {
	color: #fff !important;
}

.entry-content a.small-button.smallgreen {
	color: #204452 !important;
}

.entry-content a.small-button:hover {
	background: rgba( 255, 255, 255, 0.2 );
	border: 2px solid transparent;
	padding: 6px 34px 6px 14px !important;
}

.entry-content a.small-button:after {
	font-size: 32px;
	line-height: 1em;
	content:"\35";
	opacity: 0;
	position: absolute;
	margin-left: -20px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: 7px;
	right: 5px;
	-moz-osx-font-smoothing: grayscale;
	font-family: "ETmodules";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}

.entry-content a.small-button:hover:after {
	margin-left: 0;
	opacity: 1;
}

.et_pb_toggle.et_pb_toggle_open h5 {
    font-weight: 700;
}

/* ==========================================================================
   Gravity Forms
   ========================================================================== */

.page .gform_wrapper input[type="text"],
.page .gform_wrapper input[type="email"],
.page .gform_wrapper select,
.page .gform_wrapper textarea {
	background-color: #eee;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	color: #333;
	font-size: 16px;
	padding: 16px;
	line-height: 1.3;
}

.page .gform_wrapper .datepicker {
	width: 30% !important;
}

.page .gform_wrapper .gf_left_third .datepicker,
.page .gform_wrapper .gf_middle_third .datepicker,
.page .gform_wrapper .gf_right_third .datepicker {
	width: 70% !important;
}

.page .gform_wrapper input.ginput_quantity {
	width: 5em;
}

.page .gform_wrapper .gform_footer .gform_button {
	font-size: 20px;
	font-weight: 500;
	font-family: "Open Sans",​Arial,​sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 20px;
	line-height: 1.7em;
	background: transparent;
	border: 2px solid;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	color: #204452;
	border-color: #204452;
	cursor: pointer;
}

.gform_wrapper .gform_footer .gform_button:hover {
	background: rgba(0, 0, 0, 0.05);
	border: 2px solid transparent;
	padding: 6px 34px 6px 14px !important;
}

.gform_wrapper .gform_footer .gform_button:after {
	font-size: 32px;
	line-height: 1em;
	content: "\35";
	opacity: 0;
	position: absolute;
	margin-left: -20px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: 7px;
	right: 5px;
	-moz-osx-font-smoothing: grayscale;
	font-family: "ETmodules";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	color: #204452;
}

.gform_wrapper .gform_footer .gform_button:hover:after {
	margin-left: 0;
	opacity: 1;
}

.page .gform_wrapper ul.gfield_checkbox li,
.page .gform_wrapper ul.gfield_radio li {
	padding: 5px 0 0 !important;
}

.page .gform_wrapper .ginput_full label,
.page .gform_wrapper .ginput_left label,
.page .gform_wrapper .ginput_right label {
	margin: 0 0 8px;
}

.page .gform_wrapper .gsection {
	margin-top: 30px;
}

.page .gform_wrapper li.gfield.gf_list_2col label.gfield_label,
.page .gform_wrapper li.gfield.gf_list_3col label.gfield_label,
.page .gform_wrapper li.gfield.gf_list_4col label.gfield_label,
.page .gform_wrapper li.gfield.gf_list_5col label.gfield_label,
.page .gform_wrapper li.gfield.gf_list_inline label.gfield_label {
	margin: 10px 0 4px;
}

.page .gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li,
.page .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li,
.page .gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li,
.page .gform_wrapper li.gfield.gf_2col ul.gfield_radio li {
	margin: 0 0 4px;
}

.page .gform_wrapper .top_label li.gfield.gf_left_half input.medium,
.page .gform_wrapper .top_label li.gfield.gf_left_half input.large,
.page .gform_wrapper .top_label li.gfield.gf_left_half select.medium,
.page .gform_wrapper .top_label li.gfield.gf_left_half select.large,
.page .gform_wrapper .top_label li.gfield.gf_right_half input.medium,
.page .gform_wrapper .top_label li.gfield.gf_right_half input.large,
.page .gform_wrapper .top_label li.gfield.gf_right_half select.medium,
.page .gform_wrapper .top_label li.gfield.gf_right_half select.large {
	width: 98%;
}

.page .gform_wrapper .ginput_complex .ginput_full input[type="text"],
.page .gform_wrapper .ginput_complex .ginput_full input[type="url"],
.page .gform_wrapper .ginput_complex .ginput_full input[type="email"],
.page .gform_wrapper .ginput_complex .ginput_full input[type="tel"],
.page .gform_wrapper .ginput_complex .ginput_full input[type="number"],
.page .gform_wrapper .ginput_complex .ginput_full input[type="password"] {
	width: 99.2% !important;
}

.page .gform_wrapper .ginput_complex input[type="text"],
.page .gform_wrapper .ginput_complex input[type="url"],
.page .gform_wrapper .ginput_complex input[type="email"],
.page .gform_wrapper .ginput_complex input[type="tel"],
.page .gform_wrapper .ginput_complex input[type="number"],
.page .gform_wrapper .ginput_complex input[type="password"],
.page .gform_wrapper .ginput_complex select {
	width: 96% !important;
}

.page .gform_wrapper .ginput_complex .ginput_right input[type="text"],
.page .gform_wrapper .ginput_complex .ginput_right input[type="url"],
.page .gform_wrapper .ginput_complex .ginput_right input[type="email"],
.page .gform_wrapper .ginput_complex .ginput_right input[type="tel"],
.page .gform_wrapper .ginput_complex .ginput_right input[type="number"],
.page .gform_wrapper .ginput_complex .ginput_right input[type="password"],
.page .gform_wrapper .ginput_complex .ginput_right select {
	width: 98% !important;
}

.page .gform_wrapper .top_label input.medium,
.page .gform_wrapper .top_label select.medium {
	width: 48%;
}

.page .gform_wrapper select {
	padding: 8px 0 16px !important;
}

.page .gform_wrapper .gfield_time_hour input,
.page .gform_wrapper .gfield_time_minute input {
	width: 85% !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and ( max-width: 980px ) {
	.homepage-info .et_pb_column p {
		text-align: center;
	}
}
